<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchRenameApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BatchRenameApp.Properties.Settings>
            <setting name="DateFormat" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>HH.mm.ss</value>
            </setting>
            <setting name="NumberFormat" serializeAs="String">
                <value>D2</value>
            </setting>
            <setting name="SortFilter" serializeAs="String">
                <value>^</value>
            </setting>
        </BatchRenameApp.Properties.Settings>
    </userSettings>
</configuration>